@font-face {
    font-family: '8bitoperator';
    src: url(./Fuente/8bitoperator.ttf);
}

body {
    background-image: url(./img/mariobros.png);
    background-size: cover;
    font-family: '8bitoperator';
}

h1 {
    text-align: center;
    font-size: 2,8rem;
    margin-top: 4rem;
    color: black;
}

.row-one, .row-two{
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 4rem;
    width: 15rem;
    height: 15rem;
    align-items: center;
}

.buttons h2{
    font-size: 25px;
}

.button-plus{
    background-image: url(img/hongo.png);
    background-size: 15rem 15rem;
    background-repeat: no-repeat;
    width: 15rem;
    height: 15rem;
}

.button-minus{
    background-image: url(img/bloquepregunta.png);
    background-size: 15rem 15rem;
    background-repeat: no-repeat;
    width: 15rem;
    height: 15rem;
}

.button-multiplication{
    background-image: url(img/bloqueladrillo.png);
    background-size: 15rem 15rem;
    background-repeat: no-repeat;
    width: 15rem;
    height: 15rem;
}
 .button-division{
    background-image: url(img/estrella.png);
    background-size: 15rem 15rem;
    background-repeat: no-repeat;
    width: 15rem;
    height: 15rem;
}

.buttons:hover{
    color: #228B22;
    box-shadow: 0 4px 16px #000000	;
    transition: all 0.2s ease;
    transform: translateY(-1rem);
}