body {
    background-image: url(../Images/fondo-division.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    color: white;
    -webkit-text-stroke: 1px black;
}

.operation h2 {
    color: black !important;
    -webkit-text-stroke: 1px white !important;
}