footer {
    display: flex;
    flex-direction: column;
    background-image: url(../Images/bloqueladrillo.png);
    background-size: 5rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
}

footer .team {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer li {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

footer li img {
    max-width: 5rem;
    border: 0.4rem solid white;
    border-radius: 50%;
    background-color: white;
}
