header {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding-top: 1rem;
}

#live {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
}

#live img{
    width: 5rem;
    height: 5rem;
    margin-right: 0;
}

#live h3{
    text-align: center;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
    font-size: 2.8rem;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

header img {
    width: 10rem;
    cursor: pointer;
    margin-right: 2rem;
}

header img:hover {
    filter: drop-shadow(0.2rem 0.2rem 0.2rem black);
    transform: translateY(-1rem);
}
