@font-face {
    font-family: '8bitoperator';
    src: url(../Font/8bitoperator.ttf);
}

html, body {
    font-family: '8bitoperator';
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../Images/fondo-principal.png);
    background-position: center;
}

.row-one,
.row-two {
    display: flex;
    justify-content: center;
}

.row-two a, .row-one a {
    text-decoration: none;
    color: #000000;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 4rem;
    width: 15rem;
    height: 15rem;
    align-items: center;
}

.buttons h2 {
    font-size: 25px;
}

.button-plus {
    background-image: url(../Images/hongo.png);
    background-size: 15rem 15rem;
    background-repeat: no-repeat;
    width: 15rem;
    height: 15rem;
}

.button-minus {
    background-image: url(../Images/bloquepregunta.png);
    background-size: 15rem 15rem;
    background-repeat: no-repeat;
    width: 15rem;
    height: 15rem;
}

.button-multiplication {
    background-image: url(../Images/bloqueladrillo.png);
    background-size: 15rem 15rem;
    background-repeat: no-repeat;
    width: 15rem;
    height: 15rem;
}

.button-division {
    background-image: url(../Images/estrella.png);
    background-size: 15rem 15rem;
    background-repeat: no-repeat;
    width: 15rem;
    height: 15rem;
}

.buttons:hover {
    color: #228B22;
    filter: drop-shadow(0.2rem 0.2rem 0.2rem black);
    transition: all 0.2s ease;
    transform: translateY(-1rem);
}

